<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Booking and Types">
<listeners>
  <listener class-name="utilities.ExtentReport" />
</listeners>
  <test  name="WalkIn_Booking_Test">
    <classes>
      <class name="JaintTravels.testCases.LoginPageTest">
        <methods>
        <include name ="Walkin_Type_Booking"/>
        <include name ="login"/>
        </methods>
        </class>
    </classes>
  </test> 
   <test name="Online_Booking_Test">
    <classes>
      <class name="JaintTravels.testCases.LoginPageTest">
        <methods>
        <include  name ="Online_Type_Booking"/>
        <include  name ="login"/>
        </methods>
        </class>
    </classes>
  </test > 
  <test  name="Offline_Booking_Test">
    <classes>
      <class name="JaintTravels.testCases.LoginPageTest">
        <methods>
        <include  name ="Offline_Type_Booking"/>
        <include  name ="login"/>
        </methods>
        </class>
    </classes>
  </test> 
  <test thread-count="5" name="Branch_Booking_Test">
    <classes>
      <class name="JaintTravels.testCases.LoginPageTest">
        <methods>
        <include  name ="Branch_Type_Booking"/>
        <include  name ="login"/>
        </methods>
        </class>
    </classes>
 </test>
</suite> <!-- Suite -->


